# Seattle AirBnB Data Cleaning Notebook
## by Kola Ademola

In [1]:
#import the neccesary libraries
import pandas as pd
import numpy as np

# display all columns in the dataset
pd.set_option('display.max_columns', None)

In [2]:
#load the datasets for cleaning

listings_df = pd.read_csv('listings.csv')
calendar_df = pd.read_csv('calendar.csv')

In [3]:
#view listings_df

listings_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,NaN,NaN,NaN,NaN,https://a1.muscache.com/ac/pictures/67560560/c...,NaN,956883,https://www.airbnb.com/users/show/956883,Maija,2011-08-11,"Seattle, Washington, United States","I am an artist, interior designer, and run a s...",within a few hours,96%,100%,f,https://a0.muscache.com/ac/users/956883/profil...,https://a0.muscache.com/ac/users/956883/profil...,Queen Anne,3.0,3.0,"['email', 'phone', 'reviews', 'kba']",t,t,"Gilman Dr W, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119,Seattle,"Seattle, WA",US,United States,47.636289,-122.371025,t,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$85.00,NaN,NaN,NaN,NaN,2,$5.00,1,365,4 weeks ago,t,14,41,71,346,2016-01-04,207,2011-11-01,2016-01-02,95.0,10.0,10.0,10.0,10.0,9.0,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",What's up with the free pillows? Our home was...,"Convenient bus stops are just down the block, ...",https://a0.muscache.com/ac/pictures/14409893/f...,https://a0.muscache.com/im/pictures/14409893/f...,https://a0.muscache.com/ac/pictures/14409893/f...,https://a0.muscache.com/ac/pictures/14409893/f...,5177328,https://www.airbnb.com/users/show/5177328,Andrea,2013-02-21,"Seattle, Washington, United States",Living east coast/left coast/overseas. Time i...,within an hour,98%,100%,t,https://a0.muscache.com/ac/users/5177328/profi...,https://a0.muscache.com/ac/users/5177328/profi...,Queen Anne,6.0,6.0,"['email', 'phone', 'facebook', 'linkedin', 're...",t,t,"7th Avenue West, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119,Seattle,"Seattle, WA",US,United States,47.639123,-122.365666,t,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",NaN,$150.00,"$1,000.00","$3,000.00",$100.00,$40.00,1,$0.00,2,90,today,t,13,13,16,291,2016-01-04,43,2013-08-19,2015-12-29,96.0,10.0,10.0,10.0,10.0,10.0,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,Our house is located just 5 short blocks to To...,A bus stop is just 2 blocks away. Easy bus a...,NaN,NaN,https://a2.muscache.com/ac/pictures/b4324e0f-a...,NaN,16708587,https://www.airbnb.com/users/show/16708587,Jill,2014-06-12,"Seattle, Washington, United States",i love living in Seattle. i grew up in the mi...,within a few hours,67%,100%,f,https://a1.muscache.com/ac/users/16708587/prof...,https://a1.muscache.com/ac/users/16708587/prof...,Queen Anne,2.0,2.0,"['email', 'phone', 'google', 'reviews', 'jumio']",t,t,"West Lee Street, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119,Seattle,"Seattle, WA",US,United States,47.629724,-122.369483,t,House,Entire home/apt,11,4.5,5.0,7.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$975.00,NaN,NaN,"$1,000.00",$300.00,10,$25.00,4,30,5 weeks ago,t,1,6,17,220,2016-01-04,20,2014-07-30,2015-09-03,97.0,10.0,10.0,10.0,10.0,10.0,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,NaN,NaN,NaN,NaN,https://a0.muscache.com/ac/pictures/94146944/6...,NaN,9851441,https://www.airbnb.com/users/show/9851441,Emily,2013-11-06,"Seattle, Washington, United States",NaN,NaN,NaN,NaN,f,https://a2.muscache.com/ac/users/9851441/profi...,https://a2.muscache.com/ac/users/9851441/profi...,Queen Anne,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"8th Avenue West, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119,Seattle,"Seattle, WA",US,United States,47.638473,-122.369279,t,Apartment,Entire home/apt,3,1.0,0.0,2.0,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Indoor ...",NaN,$100.00,$650.00,"$2,300.00",NaN,NaN,1,$0.00,1,1125,6 months ago,t,0,0,0,143,2016-01-04,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,Belltown,The nearest public transit bus (D Line) is 2 b...,NaN,NaN,https://a1.muscache.com/ac/pictures/6120468/b0...,NaN,1452570,https://www.airbnb.com/users/show/1452570,Emily,2011-11-29,"Seattle, Washington, United States","Hi, I live in Seattle, Washington but I'm orig...",within an hour,100%,NaN,f,https://a0.muscache.com/ac/users/1452570/profi...,https://a0.muscache.com/ac/users/1452570/profi...,Queen Anne,2.0,2.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"14th Ave W, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119,Seattle,"Seattle, WA",US,United States,47.632918,-122.372471,t,House,Entire home/apt,6,2.0,3.0,3.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",NaN,$450.00,NaN,NaN,$700.00,$125.00,6,$15.00,1,1125,7 weeks ago,t,30,60,90,365,2016-01-04,38,2012-07-10,2015-10-24,92.0,9.0,9.0,10.0,10.0,9.0,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [4]:
# I will be making a copy of the datasets before I start cleaning

listings_clean = listings_df.copy()
calendar_clean = calendar_df.copy()

In [5]:
#getting the list of unwanted columns

listings_clean.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [6]:
#dropping irrelevant columns

#list of columns that will be dropped
cols = ['listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_url', 'host_since', 'host_is_superhost',
       'host_location', 'host_about', 'host_response_time', 'host_verifications',
       'host_response_rate', 'host_acceptance_rate',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_has_profile_pic',
       'street', 'neighbourhood',
       'neighbourhood_group_cleansed', 'bathrooms',
       'smart_location', 'country_code', 'state', 'market',
       'is_location_exact', 'amenities', 'square_feet',
        'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review','review_scores_location',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication', 'review_scores_value',
        'requires_license','license', 'jurisdiction_names', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count','reviews_per_month']

# dropping above columns

listings_clean = listings_clean.drop(cols, axis = 1)

# confirm changes

listings_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         3818 non-null   int64
 1   host_id                    3818 non-null   int64
 2   host_name                  3816 non-null   object
 3   host_total_listings_count  3816 non-null   float64
 4   host_identity_verified     3816 non-null   object
 5   neighbourhood_cleansed     3818 non-null   object
 6   city                       3818 non-null   object
 7   zipcode                    3811 non-null   object
 8   country                    3818 non-null   object
 9   latitude                   3818 non-null   float64
 10  longitude                  3818 non-null   float64
 11  property_type              3817 non-null   object
 12  room_type                  3818 non-null   object
 13  accommodates               3818 non-null   int64
 14  bedrooms                   3812 non-null   float64
 15  beds                       3817 non-null   float64
 16  bed_type                   3818 non-null   object
 17  price                      3818 non-null   object
 18  has_availability           3818 non-null   object
 19  review_scores_rating       3171 non-null   float64
 20  instant_bookable           3818 non-null   object
 21  cancellation_policy        3818 non-null   object
dtypes: float64(6), int64(3), object(13)
memory usage: 656.3+ KB

In [7]:
#view dataset
listings_clean.head()

,id,host_id,host_name,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,city,zipcode,country,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,bed_type,price,has_availability,review_scores_rating,instant_bookable,cancellation_policy
0,241032,956883,Maija,3.0,t,West Queen Anne,Seattle,98119,United States,47.636289,-122.371025,Apartment,Entire home/apt,4,1.0,1.0,Real Bed,$85.00,t,95.0,f,moderate
1,953595,5177328,Andrea,6.0,t,West Queen Anne,Seattle,98119,United States,47.639123,-122.365666,Apartment,Entire home/apt,4,1.0,1.0,Real Bed,$150.00,t,96.0,f,strict
2,3308979,16708587,Jill,2.0,t,West Queen Anne,Seattle,98119,United States,47.629724,-122.369483,House,Entire home/apt,11,5.0,7.0,Real Bed,$975.00,t,97.0,f,strict
3,7421966,9851441,Emily,1.0,t,West Queen Anne,Seattle,98119,United States,47.638473,-122.369279,Apartment,Entire home/apt,3,0.0,2.0,Real Bed,$100.00,t,NaN,f,flexible
4,278830,1452570,Emily,2.0,t,West Queen Anne,Seattle,98119,United States,47.632918,-122.372471,House,Entire home/apt,6,3.0,3.0,Real Bed,$450.00,t,92.0,f,strict

In [8]:
#checking for null values

listings_clean.isnull().sum()

id                             0
host_id                        0
host_name                      2
host_total_listings_count      2
host_identity_verified         2
neighbourhood_cleansed         0
city                           0
zipcode                        7
country                        0
latitude                       0
longitude                      0
property_type                  1
room_type                      0
accommodates                   0
bedrooms                       6
beds                           1
bed_type                       0
price                          0
has_availability               0
review_scores_rating         647
instant_bookable               0
cancellation_policy            0
dtype: int64

In [9]:
#dropping rows with null values

listings_clean = listings_clean.dropna()

#confirm there is no more null rows

listings_clean.isnull().sum()

id                           0
host_id                      0
host_name                    0
host_total_listings_count    0
host_identity_verified       0
neighbourhood_cleansed       0
city                         0
zipcode                      0
country                      0
latitude                     0
longitude                    0
property_type                0
room_type                    0
accommodates                 0
bedrooms                     0
beds                         0
bed_type                     0
price                        0
has_availability             0
review_scores_rating         0
instant_bookable             0
cancellation_policy          0
dtype: int64

In [10]:
#removing the '$' sign from the 'price' column

listings_clean['price'] = listings_clean['price'].str.replace('$', '')

#confirm change
listings_clean['price']

C:\Users\Kola Ademola\AppData\Local\Temp\ipykernel_19208\2670723140.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  listings_clean['price'] = listings_clean['price'].str.replace('$', '')

0        85.00
1       150.00
2       975.00
4       450.00
5       120.00
         ...
3810    154.00
3811     65.00
3812     95.00
3813    359.00
3814     79.00
Name: price, Length: 3159, dtype: object

In [11]:
#checking the zipcodes

listings_clean['zipcode'].value_counts()

98122        364
98103        330
98102        271
98105        177
98121        171
98101        170
98144        167
98109        160
98107        152
98115        147
98117        138
98112        137
98118        134
98119        119
98116         90
98104         79
98125         59
98106         51
98199         51
98108         48
98126         47
98136         35
98133         35
98177         15
98134          4
98178          4
98146          3
99\n98122      1
Name: zipcode, dtype: int64

In [12]:
#correcting the wrong zipcode
listings_clean['zipcode'] = listings_clean['zipcode'].str.replace('99\n98122', '98122')

#confirm change
listings_clean['zipcode'].value_counts()

98122    365
98103    330
98102    271
98105    177
98121    171
98101    170
98144    167
98109    160
98107    152
98115    147
98117    138
98112    137
98118    134
98119    119
98116     90
98104     79
98125     59
98106     51
98199     51
98108     48
98126     47
98136     35
98133     35
98177     15
98134      4
98178      4
98146      3
Name: zipcode, dtype: int64

In [13]:
#converting the 'review_scores_rating' column to a 10-scale rating format
listings_clean['review_scores_rating'] = listings_clean['review_scores_rating'] / 10

#confirm change
listings_clean['review_scores_rating']

0        9.5
1        9.6
2        9.7
4        9.2
5        9.5
        ...
3810     9.2
3811    10.0
3812     9.6
3813     8.0
3814    10.0
Name: review_scores_rating, Length: 3159, dtype: float64

In [14]:
# check the calender_df

calendar_clean.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [15]:
#removing the '$' sign from the 'price' column

calendar_clean['price'] = calendar_clean['price'].str.replace('$', '')

#confirm change
calendar_clean['price']

C:\Users\Kola Ademola\AppData\Local\Temp\ipykernel_19208\3374715747.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  calendar_clean['price'] = calendar_clean['price'].str.replace('$', '')

0          85.00
1          85.00
2            NaN
3            NaN
4            NaN
           ...
1393565      NaN
1393566      NaN
1393567      NaN
1393568      NaN
1393569      NaN
Name: price, Length: 1393570, dtype: object

In [16]:
#view datasets again
listings_clean.head(10)

,id,host_id,host_name,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,city,zipcode,country,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,bed_type,price,has_availability,review_scores_rating,instant_bookable,cancellation_policy
0,241032,956883,Maija,3.0,t,West Queen Anne,Seattle,98119,United States,47.636289,-122.371025,Apartment,Entire home/apt,4,1.0,1.0,Real Bed,85.00,t,9.5,f,moderate
1,953595,5177328,Andrea,6.0,t,West Queen Anne,Seattle,98119,United States,47.639123,-122.365666,Apartment,Entire home/apt,4,1.0,1.0,Real Bed,150.00,t,9.6,f,strict
2,3308979,16708587,Jill,2.0,t,West Queen Anne,Seattle,98119,United States,47.629724,-122.369483,House,Entire home/apt,11,5.0,7.0,Real Bed,975.00,t,9.7,f,strict
4,278830,1452570,Emily,2.0,t,West Queen Anne,Seattle,98119,United States,47.632918,-122.372471,House,Entire home/apt,6,3.0,3.0,Real Bed,450.00,t,9.2,f,strict
5,5956968,326758,Andrew,1.0,t,West Queen Anne,Seattle,98119,United States,47.630525,-122.366174,House,Private room,2,1.0,1.0,Real Bed,120.00,t,9.5,f,strict
6,1909058,2497928,Gary And Beth,1.0,t,West Queen Anne,Seattle,98119,United States,47.636605,-122.368519,House,Private room,2,1.0,1.0,Real Bed,80.00,t,9.9,f,moderate
7,856550,4016632,Jean-Marc,5.0,t,West Queen Anne,Seattle,98119,United States,47.640161,-122.375856,Cabin,Private room,2,1.0,1.0,Real Bed,60.00,t,9.7,f,strict
8,4948745,2166277,Aliza,1.0,t,West Queen Anne,Seattle,98109,United States,47.632410,-122.357216,Apartment,Private room,2,1.0,1.0,Real Bed,90.00,t,9.7,f,strict
9,2493658,5177328,Andrea,6.0,t,West Queen Anne,Seattle,98119,United States,47.637492,-122.366889,Apartment,Entire home/apt,4,1.0,1.0,Real Bed,150.00,t,9.7,f,strict
10,175576,239585,Ray & Eileen,1.0,t,West Queen Anne,Seattle,98119,United States,47.635482,-122.358478,House,Entire home/apt,2,1.0,1.0,Real Bed,95.00,t,9.7,f,moderate

In [17]:
#view datasets again
calendar_clean.head(10)

   listing_id        date available  price
0      241032  2016-01-04         t  85.00
1      241032  2016-01-05         t  85.00
2      241032  2016-01-06         f    NaN
3      241032  2016-01-07         f    NaN
4      241032  2016-01-08         f    NaN
5      241032  2016-01-09         f    NaN
6      241032  2016-01-10         f    NaN
7      241032  2016-01-11         f    NaN
8      241032  2016-01-12         f    NaN
9      241032  2016-01-13         t  85.00

## Saving & Exporting cleaned data

In [18]:
#exporting the cleaned listings data
listings_clean.to_csv('listings_cleaned.csv', index = False)

#exporting the cleaned calendar data
calendar_clean.to_csv('calendar_cleaned.csv', index = False)

In [19]:
listings_clean['zipcode'].value_counts()

98122    365
98103    330
98102    271
98105    177
98121    171
98101    170
98144    167
98109    160
98107    152
98115    147
98117    138
98112    137
98118    134
98119    119
98116     90
98104     79
98125     59
98106     51
98199     51
98108     48
98126     47
98136     35
98133     35
98177     15
98134      4
98178      4
98146      3
Name: zipcode, dtype: int64